.header {
  background-color: var(--header);
  height: 4.8rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--surface_border);
}

.header__title {
  font-size: 2rem;
  margin: 0;
  margin-left: 1rem;
}
