.asset-selector {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.asset-selector__input:read-only {
  background-color: var(--header);
  cursor: pointer;
}

.asset-selector__input {
  padding: 1rem;
  width: 15rem;
  margin: 0;
}

.asset-selector__popup {
  min-width: 15rem;
  max-height: 20rem;
  overflow-y: auto;
}
