<div class="asset-selector">
  @if (this.active()) {
    <input
      type="text"
      class="input asset-selector__input"
      popupClass="asset-selector__popup"
      [placeholder]="previousAsset()"
      [editable]="false"
      [selectOnExact]="true"
      [ngbTypeahead]="search"
      [(ngModel)]="asset"
      (blur)="selectAsset()"
      (selectItem)="selectAsset()"
      (keydown)="typeaheadKeydown($event)"
      (click)="click$.next($any($event).target.value)"
      #instance="ngbTypeahead"
    />
  } @else {
    <div class="disabled-select-wrapper" (click)="activate()">
      <select disabled class="input asset-selector__input">
        <option [value]="asset()">{{ asset() }}</option>
      </select>
    </div>
  }
</div>
