/* Allows for click events on disabled 'select' elements */
.disabled-select-wrapper select:disabled {
  pointer-events: none;
}

/* Ng Bootstrap Overrides */
.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  padding: 0;
  background-color: var(--popover);
  border-color: var(--popover_border);
  border-radius: var(--border_radius);
}

.dropdown-item {
  font-size: var(--font-size);
  padding: 0.75rem;
  border-radius: var(--border_radius);
}

.dropdown-item,
.dropdown-item .icon {
  color: var(--text_on_surface);
}

.dropdown-item:hover,
.dropdown-item:hover .icon {
  color: var(--text_on_primary);
  background-color: var(--primary);
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:active .icon {
  color: var(--text_on_primary);
  background-color: var(--primary_hover);
}

.dropdown-item--unselectable.dropdown-item.disabled,
.dropdown-item--unselectable.dropdown-item:disabled {
  color: var(--text_on_surface);
}
