.details-classification {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.details__section-label {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.7rem;
}

.collection__page {
  display: grid;
  grid-template-columns: repeat(2, minmax(70rem, 110rem));
  column-gap: 1rem;
  margin: 0 0.25rem;
}

.collection {
  display: grid;
  grid-template-columns: minmax(15rem, 45rem) minmax(20rem, 65rem);
  column-gap: 1rem;
}

@media only screen and (max-width: 1500px) {
  .collection__page {
    grid-template-columns: repeat(1, minmax(85rem, 1fr));
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
  }
}
