.icon {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  background-size: 100% auto;
  color: var(--text_on_surface);
  fill: var(--text_on_surface);
}

.icon--side-effects:hover {
  color: var(--primary_hover);
}

.icon--side-effects:active {
  color: var(--primary_click);
}

.icon--center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--small {
  width: 1.75rem;
  height: 1.75rem;
}

.icon--med {
  width: 2.5rem;
  height: 2.5rem;
}

.icon--large {
  width: 3rem;
  height: 3rem;
}

.icon--narrow {
  margin-right: 0.25rem;
}
