.app__container {
  height: 100%;
  display: grid;
  grid-template-columns: 24rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header'
    'sidebar content';
  overflow-y: hidden;
}

.app__header {
  grid-area: header;
  height: fit-content;
}

.app__sidebar {
  grid-area: sidebar;
  height: 100%;
  min-height: calc(100% - 4.8rem);
}

.app__content {
  grid-area: content;
}
