.sidebar {
  background-color: var(--header);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  border-right: 1px solid var(--surface_border);
  overflow-y: auto;
}

.sidebar__group {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.sidebar__group:hover {
  background-color: var(--list_hover);
  border-radius: var(--border_radius);
  cursor: pointer;
}

.sidebar__group h2 {
  font-weight: 500;
}

.sidebar__group-label {
  font-size: 1.6rem;
  margin: 0;
}

.sidebar__tools {
  overflow-y: auto;
  min-height: 4rem;
}

.sidebar__footer-actions {
  margin-top: auto;
  border-top: 1px solid var(--surface_border);
  height: fit-content;
}
