.sidebar {
  background-color: var(--header);
  width: 24rem;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  border-right: 1px solid var(--surface_border);
  overflow-y: auto;

  transition: 0.25s width;
  white-space: nowrap;
  overflow-x: hidden;
}

.sidebar--collapsed {
  width: 4.5rem;
}

.sidebar__group {
  padding: 1rem;
  display: flex;
  align-items: center;
  max-height: 4rem;
}

.sidebar__group:hover,
.sidebar__group[active='true']:hover {
  background-color: var(--sidebar_hover);
  border-radius: var(--border_radius);
  cursor: pointer;
}

.sidebar__group[active='false']:active {
  background-color: var(--sidebar_active);
}

.sidebar__group[active='true'] {
  background-color: var(--sidebar_selected);
}

.sidebar__group h2,
.sidebar__group h3 {
  font-weight: 500;
}

.sidebar__group-label {
  font-size: 1.6rem;
  margin: 0;
}

.sidebar__option {
  max-height: 4rem;
  padding-left: 3.5rem;
}

.sidebar__option-label {
  font-size: 1.4rem;
  margin: 0;
}

.sidebar__tools {
  overflow-y: auto;
  min-height: 4rem;
}

.sidebar__footer-actions {
  margin-top: auto;
  border-top: 1px solid var(--surface_border);
  height: fit-content;
}

.sidebar__dropdown-item {
  padding: 1rem;
}

.sidebar__dropdown-item[active='true'] {
  background-color: var(--sidebar_selected);
}

.dropdown-item:hover,
.dropdown-item:hover .icon {
  background-color: var(--sidebar_hover);
}

.dropdown-item:active,
.dropdown-item:active .icon {
  background-color: var(--sidebar_active);
}
