.sidebar {
  background-color: var(--header);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar__group {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.sidebar__group h2 {
  font-weight: 500;
}

.sidebar__group-label {
  font-size: 1.6rem;
  margin: 0;
}

.sidebar__footer-actions {
  margin-top: auto;
  border-top: 1px solid var(--surface_border);
}
