<section class="sidebar" [class.sidebar--collapsed]="collapsing()">
  <span class="sidebar__tools">
    @for (group of groups; track group.id) {
    <ng-container
      [ngTemplateOutlet]="groupRef"
      [ngTemplateOutletContext]="{ $implicit: group }"
    ></ng-container>
    }
  </span>

  <span class="sidebar__footer-actions">
    @for (group of coreGroups; track group.id) {
    <ng-container
      [ngTemplateOutlet]="groupRef"
      [ngTemplateOutletContext]="{ $implicit: group }"
    ></ng-container>

    } @if (collapsed()) {
    <div class="sidebar__group" (click)="collapsing.set(false)">
      <svg class="icon" viewBox="2 2 12 12">
        <use href="/icons/_sprite.svg#indent"></use>
      </svg>
    </div>
    } @else {
    <div class="sidebar__group" (click)="collapsing.set(true)">
      <svg class="icon" viewBox="2 2 12 12">
        <use href="/icons/_sprite.svg#unindent"></use>
      </svg>
      <h2 class="sidebar__group-label">Collapse Sidebar</h2>
    </div>
    }
  </span>
</section>

<ng-template #groupRef let-group>
  <div
    class="sidebar__group"
    [attr.active]="activeTool() === group.id"
    (click)="onActive(group.id)"
  >
    <svg class="icon" [attr.viewBox]="group.iconViewBox">
      <use [attr.href]="'/icons/_sprite.svg#' + group.icon"></use>
    </svg>
    @if (!collapsed()) {
    <h2 class="sidebar__group-label">{{ group.label }}</h2>
    }
  </div>
</ng-template>
