<section class="sidebar" [class.sidebar--collapsed]="collapsed()">
  <span class="sidebar__tools">
    <div class="sidebar__group" [attr.active]="activeTool() === 'home'" (click)="onActive('home')">
      <svg class="icon" viewBox="0 0 16 16">
        <use href="/icons/_sprite.svg#house"></use>
      </svg>
      @if (!collapsed()) {
      <h2 class="sidebar__group-label">Home</h2>
      }
    </div>
    <div
      class="sidebar__group"
      [attr.active]="activeTool() === 'assets'"
      (click)="onActive('assets')"
    >
      <svg class="icon" viewBox="0 0 16 16">
        <use href="/icons/_sprite.svg#rocket-takeoff"></use>
      </svg>
      @if (!collapsed()) {
      <h2 class="sidebar__group-label">Models</h2>
      }
    </div>
    <div
      class="sidebar__group"
      [attr.active]="activeTool() === 'configurations'"
      (click)="onActive('configurations')"
    >
      <svg class="icon" viewBox="0 0 16 16">
        <use href="/icons/_sprite.svg#stack"></use>
      </svg>
      @if (!collapsed()) {
      <h2 class="sidebar__group-label">Configurations</h2>
      }
    </div>
    <div
      class="sidebar__group"
      [attr.active]="activeTool() === 'results'"
      (click)="onActive('results')"
    >
      <svg class="icon" viewBox="0 0 16 16">
        <use href="/icons/_sprite.svg#database"></use>
      </svg>
      @if (!collapsed()) {
      <h2 class="sidebar__group-label">Results</h2>
      }
    </div>
    <div
      class="sidebar__group"
      [attr.active]="activeTool() === 'submission'"
      (click)="onActive('submission')"
    >
      <svg class="icon" viewBox="0 0 16 16">
        <use href="/icons/_sprite.svg#terminal"></use>
      </svg>
      @if (!collapsed()) {
      <h2 class="sidebar__group-label">Submission</h2>
      }
    </div>
  </span>

  <span class="sidebar__footer-actions">
    <div
      class="sidebar__group"
      [attr.active]="activeTool() === 'changelog'"
      (click)="onActive('changelog')"
    >
      <svg class="icon" viewBox="0 0 16 16">
        <use href="/icons/_sprite.svg#clock-history"></use>
      </svg>
      @if (!collapsed()) {
      <h2 class="sidebar__group-label">Change Log</h2>
      }
    </div>
    <div
      class="sidebar__group"
      [attr.active]="activeTool() === 'settings'"
      (click)="onActive('settings')"
    >
      <svg class="icon" viewBox="0 0 16 16">
        <use href="/icons/_sprite.svg#gear"></use>
      </svg>
      @if (!collapsed()) {
      <h2 class="sidebar__group-label">Settings</h2>
      }
    </div>
    @if (collapsed()) {
    <div class="sidebar__group" (click)="collapsed.set(false)">
      <svg class="icon" viewBox="2 2 12 12">
        <use href="/icons/_sprite.svg#indent"></use>
      </svg>
    </div>
    } @else {
    <div class="sidebar__group" (click)="collapsed.set(true)">
      <svg class="icon" viewBox="2 2 12 12">
        <use href="/icons/_sprite.svg#unindent"></use>
      </svg>
      <h2 class="sidebar__group-label">Collapse Sidebar</h2>
    </div>
    }
  </span>
</section>
