<section class="sidebar" [class.sidebar--collapsed]="collapsing()">
  <span class="sidebar__tools">
    @for (group of groups; track group.id) {
      <ng-container
        [ngTemplateOutlet]="groupRef"
        [ngTemplateOutletContext]="{ $implicit: group }"
      ></ng-container>
    }
  </span>

  <span class="sidebar__footer-actions">
    @for (group of coreGroups; track group.id) {
      <ng-container
        [ngTemplateOutlet]="groupRef"
        [ngTemplateOutletContext]="{ $implicit: group }"
      ></ng-container>
    }

    @if (collapsed()) {
      <div class="sidebar__group" (click)="collapsing.set(false)">
        <svg class="icon" [class.icon--collapsed]="collapsed()" viewBox="2 2 12 12">
          <use href="/icons/_sprite.svg#indent"></use>
        </svg>
      </div>
    } @else {
      <div class="sidebar__group" (click)="collapsing.set(true)">
        <svg class="icon" [class.icon--collapsed]="collapsed()" viewBox="2 2 12 12">
          <use href="/icons/_sprite.svg#unindent"></use>
        </svg>
        <h2 class="sidebar__group-label">Collapse Sidebar</h2>
      </div>
    }
  </span>
</section>

<ng-template #groupRef let-group>
  <div #groupDropdown="ngbDropdown" ngbDropdown placement="right-top" style="position: static">
    <div
      ngbDropdownMenu
      (mouseenter)="onHoverDropdownMenu(true, groupDropdown)"
      (mouseleave)="onHoverDropdownMenu(false, groupDropdown)"
    >
      @for (option of group.options; track option.id) {
        <button
          ngbDropdownItem
          class="sidebar__option-label sidebar__dropdown-item"
          [attr.active]="activeTool().id === option.id"
          (click)="onActiveOption(option)"
        >
          {{ option.label }}
        </button>
      }
    </div>

    <div
      ngbDropdownAnchor
      class="sidebar__group noselect"
      [class.icon--collapsed]="collapsed()"
      [attr.active]="isActiveGroup(group)"
      (click)="onActive(group, groupDropdown)"
      (mouseenter)="onHover(group, groupDropdown)"
      (mouseleave)="onLeave(groupDropdown)"
    >
      <svg class="icon" [attr.viewBox]="group.iconViewBox">
        <use [attr.href]="'/icons/_sprite.svg#' + group.icon"></use>
      </svg>

      @if (!collapsed()) {
        <h2 class="sidebar__group-label">{{ group.label }}</h2>

        @if (group.expandable) {
          <svg
            class="icon chevron"
            [attr.direction]="group.expanded ? 'down' : 'right'"
            viewBox="0 0 16 16"
          >
            <use href="/icons/_sprite.svg#chevron-down"></use>
          </svg>
        }
      }
    </div>
  </div>

  @if (!collapsed()) {
    @for (option of group.options; track option.id) {
      <div #collapse="ngbCollapse" [ngbCollapse]="!group.expanded">
        <div
          class="sidebar__group sidebar__option noselect"
          [attr.active]="activeTool().id === option.id"
          (click)="onActiveOption(option)"
        >
          <h3 class="sidebar__option-label">{{ option.label }}</h3>
        </div>
      </div>
    }
  }
</ng-template>
