/* You can add global styles to this file, and also import other style files */
html,
body {
  font-size: 62.6%;
  height: 100%;
  margin: 0;

  --border_radius: 0.5rem;

  --background: #121212;
  --header: #1d1d1d;
  --primary: #15794a;

  --text_on_surface: #ffffff;
  --surface_border: #383838d8;

  --sidebar_hover: #3f3f3f;
  --sidebar_active: #383838;
  --sidebar_selected: #282828;

  --scrollbar_track_piece: #1d1d1d;
}

body {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0;
  background-color: var(--background);
  color: var(--text_on_surface);
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  border-left: 3px solid var(--scrollbar_track_piece);
  border-radius: var(--border_radius);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  border-radius: var(--border_radius);
}

::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar_track_piece);
  border-radius: var(--border_radius);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: var(--border_radius);
}

/* Icons */
.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  color: var(--text_on_surface);
  fill: var(--text_on_surface);
}

.icon--small {
  width: 1.75rem;
  height: 1.75rem;
}

.icon--med {
  width: 2.5rem;
  height: 2.5rem;
}

.icon--large {
  width: 3rem;
  height: 3rem;
}
