/* You can add global styles to this file, and also import other style files */
html,
body {
  font-size: 62.5%;
  height: 100%;
  margin: 0;

  --font-size: 1.4rem;

  --sidebar_hover: #3f3f3f;
  --sidebar_active: #383838;
  --sidebar_selected: #282828;
}

body {
  font-size: var(--font-size);
  line-height: 2rem;
  margin: 0;
  background-color: var(--background);
  color: var(--text_on_surface);
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: var(--selection_text_color);
  background-color: var(--selection_color);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  border-left: 3px solid var(--scrollbar_track_piece);
  border-radius: var(--border_radius);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  border-radius: var(--border_radius);
}

::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar_track_piece);
  border-radius: var(--border_radius);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: var(--border_radius);
}

/* Icons */
.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  color: var(--text_on_surface);
  fill: var(--text_on_surface);
  background-size: 100% auto;
}

.icon--small {
  width: 1.75rem;
  height: 1.75rem;
}

.icon--med {
  width: 2.5rem;
  height: 2.5rem;
}

.icon--large {
  width: 3rem;
  height: 3rem;
}

/* Chevron */
.chevron {
  margin-left: auto;
  transition: transform 0.25s ease-in-out;
}

.chevron[direction='up'] {
  transform: rotate(180deg);
}

.chevron[direction='down'] {
  transform: rotate(0deg);
}

.chevron[direction='right'] {
  transform: rotate(-90deg);
}

.chevron[direction='left'] {
  transform: rotate(90deg);
}
