/* You can add global styles to this file, and also import other style files */
html,
body {
  font-size: 62.6%;
  height: 100%;

  --background: #121212;
  --header: #1d1d1d;
  --primary: #15794a;

  --text_on_surface: #ffffff;
  --surface_border: #383838d8;
}

body {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0;
  background-color: var(--background);
  color: var(--text_on_surface);
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
